<!DOCTYPE html>
<html>
  <head>
    <title>Real time web chat</title>
    <link rel="stylesheet" href="/page.css" />
    <script src="/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="ch_win">
      <div id="content"></div>
    </div>
    <div class="controls ch_win">
      <input type="text" id="name" placeholder="Enter Your Name" /><br />
      <input type="text" id="field" placeholder="Enter Your Message" /><br />
      <input id="send" type="button" value="Send" />
    </div>
  </body>
</html>
